<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

        p {
            margin-top: 5px !important;
            margin-bottom: 5px !important;
            font-size: 14px;
        }

        h3 {
            font-size: 20px;
            margin: 0;
            color: #00458f;
        }

        .invoice-details tr td,
        .bank-details tr td {
            font-weight: 600 !important;
        }

        .invoice-details tr td:nth-child(1),
        .bank-details tr td:nth-child(1) {
            padding: 0.4rem 2rem 0.4rem 0;
        }

        .invoice-details tr td:nth-child(1) {
            color: gray;
        }

        .bill-by-image {
            max-width: 150px;
            height: 150px;
            margin: 0 0 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .bill-by-to-section {
            background-color: #00458f;
            color: white;
            padding: 1.2rem 1.8rem;
            border-radius: 5px;
            height: inherit;
        }
        .total-section {
            /* background-color: green; */
            background-color: rgb(247, 250, 255);
            padding: 16px 0 16px 16px !important;
            border-radius: 5px;
        }

        .bill-by-to-section h3 {
            color: #a1daf8;
        }

        .bill-by-to-section h4 {
            font-size: 20px;
            margin: 15px 0 8px;
        }

        .table thead tr th {
            background-color: #00458f;
            color: white;
            padding: 1rem 2rem;
            border: none;
            text-align: left;
        }

        .table tbody tr td {
            border-bottom: 1px solid rgb(219, 219, 219) !important;
            padding: 1rem 2rem;
            border: none;
            text-align: left;
        }

        .table tbody tr:last-child td {
            border-bottom: none !important;
        }

        .table .total-row {
            font-size: 18px;
            font-weight: 500;
            background-color: rgb(247, 250, 255);
        }
        .noraml-font{
            font-weight: 400 !important;
        }
    </style>
</head>

<body>
    <table width="100%" style="font-family: 'Roboto', sans-serif;">
        <tr>
            <td>
                <h2 style="font-size: 30px; color: #00458f; margin-top: 0;">Invoice</h2>
            </td>
        </tr>
        <tr>
            <td>
                <table class="invoice-details">
                    <tr>
                        <td>Invoice No#</td>
                        <td>
                            <%= result.invoiceId %>
                        </td>
                    </tr>
                    <tr>
                        <td>Invoice Date</td>
                        <td>
                            <%= issue_date %>
                        </td>
                    </tr>
                    <tr>
                        <td>Due Date</td>
                        <td>
                            <% if (due_date) { %>
                            <%= due_date %>
                            <% } else { %>
                                Not Set
                            <% } %>
                        </td>
                    </tr>
                    <% if (result.hasOwnProperty("extra_field")) { %>
                        <% JSON.parse(result.extra_field).map((val, ind)=> { %>
                            <tr>
                                <td>
                                    <%= val.name %>
                                </td>
                                <td>
                                    <%= val.value %>
                                </td>
                            </tr>
                        <% }); %>
                    <% } %>
                </table>
            </td>
            <td>
                <div class="bill-by-image">
                    <img src=<%= businessLogo %> alt="img" width="100%" height="auto">
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding: 25px 15px 0 0; width: 50%;" height="200">
                <div class="bill-by-to-section">
                    <h3>Billed By</h3>
                    <h4><%= provider.business_name %></h4>
                    <% if (provider.address) { %>
                        <p><%= provider.address?.concat(" ", provider.city)%><%= provider.state %><%= provider.country %> <%= provider.postcode%> </p>
                    <% } %>
                    <% if(provider.GSTIN) {%>
                        <p><b>GSTIN: </b><%= provider.GSTIN %></p>
                    <% } %>
                    <% if(provider.pan_number) {%>
                        <p><b>PAN: </b><%= provider.pan_number %></p>
                    <% } %>
                    <% if(provider.email) {%>
                        <p><b>Email: </b><%= provider.email %></p>
                    <% } %>
                    <% if(provider.phone) {%>
                        <p><b>Phone: </b>+91 <%= provider.phone %></p>
                    <% } %>
                </div>
            </td>
            <td style="padding: 25px 0 0 15px; width: 50%; " height="200">
                <div class="bill-by-to-section">
                    <h3>Billed To</h3>
                    <h4><%= invoiceClient.business_name %></h4>
                    <% if(invoiceClient.client_industry) { %> 
                        <p><%= invoiceClient.client_industry %></p>
                    <% } %>
                    <% if (invoiceClient.address) { %>
                        <p><%= invoiceClient.address?.concat(" ", invoiceClient.city)%><%= invoiceClient.state %><%= invoiceClient.country %> <%= invoiceClient.postcode%> </p>
                    <% } %>
                    <% if(invoiceClient.GSTIN) {%>
                        <p><b>GSTIN: </b><%= invoiceClient.GSTIN %></p>
                    <% } %>
                    <% if(invoiceClient.pan_number) {%>
                        <p><b>PAN: </b><%= invoiceClient.pan_number %></p>
                    <% } %>
                    <% if(invoiceClient.email) {%>
                        <p><b>Email: </b><%= invoiceClient.email %></p>
                    <% } %>
                    <% if(invoiceClient.phone) {%>
                        <p><b>Phone: </b>+91 <%= invoiceClient.phone %></p>
                    <% } %>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding-top: 30px;">
                <table class="table" cellpadding="0" cellspacing="0" width="100%" align="center">
                    <thead>
                        <tr>
                            <% tableHead.map((val, ind) => { %>
                                <% if(val.toggle) { %> 
                                    <th key={ind}><%= val.field %>
                                    <% if(val.name === "amount") {%>
                                        (<%= result.currency?.slice(6) %>)
                                    <% } %>
                                    </th>
                                <% } %>
                            <% }); %>
                        </tr>
                    </thead>
                    <tbody>
                        <% tableBody.map((val, ind) => { %>
                            <tr>
                                <% tableHead.map((column, ind) => { %>
                                    <% if(column.toggle) { %>
                                        <td> 
                                            <% if(val[column.name]) { %>
                                                <%= val[column.name] %>
                                            <% } %>
                                            <% if(column.name === "itemName") { %>
                                                <div>
                                                    <%- val.description %>
                                                </div>
                                            <% } %>
                                        </td>
                                    <% } %>
                                <% }); %>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding-top: 30px;">
                <% if(bankDetail) { %>
                    <div class="bill-by-to-section">
                        <h3 style="margin-bottom: 15px;">Bank Details</h3>
                        <table class="bank-details">
                            <tbody>
                                <tr>
                                    <td style="white-space: nowrap;">Account Number</td>
                                    <td><%= bankDetail.account_number %></td>
                                </tr>
                                <tr>
                                    <td>IFSC Code</td>
                                    <td><%= bankDetail.ifsc_code %></td>
                                </tr>
                                <tr>
                                    <td>Bank Name</td>
                                    <td><%= bankDetail.bank %></td>
                                </tr>
                                <tr>
                                    <td>Branch Name</td>
                                    <td><%= bankDetail.branch_name %></td>
                                </tr>
                                <tr>
                                    <td>Name</td>
                                    <td><%= bankDetail.name %></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                <% } %>
            </td>
            <td style="padding-top: 30px; width: 50%;" >
                <div>
                    <table class="bank-details total-section" align="right">
                        <tbody>
                            <tr>
                                <td>
                                    <p className="text-left mb-0 noraml-font">Amount:</p>
                                </td>
                                <td>
                                    <p className="text-right mb-0 noraml-font">
                                        <%= result.currency?.slice(6) %> 
                                        <%= parseFloat(result.totalSubAmount).toFixed(2) %>
                                    </p>
                                </td>
                            </tr>
                            <% if(result.gstType === "CGST & SGST") {%>
                                <tr>
                                    <td>
                                        <p className="text-left mb-0">CGST:</p>
                                    </td>
                                    <td>
                                        <p className="text-right mb-0"><%= result.currency?.slice(6) %> 
                                            <%= parseFloat(tableBody.reduce((total, cur) => { return total + parseFloat(cur.SGST)}, 0)).toFixed(2) %>
                                        </p>
                                    </td>
                                </tr>
                            <% } %>
                            <% if(result.gstType === "CGST & SGST") {%>
                                <tr>
                                    <td>
                                        <p className="text-left mb-0">SGST:</p>
                                    </td>
                                    <td>
                                        <p className="text-right mb-0"><%= result.currency?.slice(6) %> 
                                            <%= parseFloat(tableBody.reduce((total, cur) => { return total + parseFloat(cur.SGST)}, 0)).toFixed(2) %>
                                        </p>
                                    </td>
                                </tr>
                            <% } %>
                            <% if(result.gstType === "IGST") {%>
                                <tr>
                                    <td>
                                        <p className="text-left mb-0">IGST:</p>
                                    </td>
                                    <td>
                                        <p className="text-right mb-0"><%= result.currency?.slice(6) %> 
                                            <%= parseFloat(tableBody.reduce((total, cur) => { return total + parseFloat(cur.IGST)}, 0)).toFixed(2) %>
                                        </p>
                                    </td>
                                </tr>
                            <% } %>
                            <tr>
                                <td colspan="2"><div style="border-top: 1px solid rgba(0, 0, 0, 0.1) !important; width: 200px !important;"></div></td>
                            </tr>
                            
                            <tr>
                                <td>
                                    <p className="text-left mb-0">Total:</p>
                                </td>
                                <td>
                                    <p className="text-right mb-0"><%= result.currency?.slice(6)%>
                                        <%= parseFloat(result.totalAmount).toFixed(2) %>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
        <% if(result.hasOwnProperty("terms") && result.terms.length !== 0) { %>
            <tr>
                <td colspan="2">
                    <h3 style="margin: 22px 0 10px;">Terms & Conditions</h3>
                    <ol style="margin: 0; padding-left: 20px;">
                        <% result.terms.map((val, ind) => { %>
                            <li  style="margin-bottom: 10px; line-height: 1.6;"><%= val %></li>
                        <% }) %>
                    </ol>
                </td>
            </tr>
        <% } %>
        <% if(result.hasOwnProperty("note") && result.note) { %>
            <tr>
                <td colspan="2">
                    <h3 style="margin: 18px 0 10px;">Additional Notes</h3>
                    <p style="line-height: 1.6;"><%- result.note %></p>
                </td>
            </tr>
        <% } %>
        <% if(result.hasOwnProperty("attchmentFile") && result.attchmentFile.length !== 0 || result.signImage) { %>
            <tr>
                <td>
                    <% if(result.hasOwnProperty("attchmentFile") && result.attchmentFile.length !== 0) { %>
                        <h3 style="margin: 18px 0 10px;">Attachment</h3>
                        <ol style="margin: 0; padding-left: 20px;">
                            <% result.attchmentFile.map((val, ind) => { %>
                                <li  style="margin-bottom: 10px; line-height: 1.6;"><%= val %></li>
                            <% }) %>
                        </ol>
                    <% } %>
                </td>
                <td>
                    <% if(result.signImage) { %>
                        <div style="width: 300px; margin: 25px 0 10px auto;">
                            <div style="background-color: rgb(247, 250, 255); border-radius: 5px;">
                                <img src=<%= result.signImage %> alt="signeture" width="100%" height="auto">
                            </div>
                            <h4 style="text-align: center; color: #000000ad;">Authorised Signatory</h4>
                        </div>
                    <% } %>
                </td>
            </tr>
        <% } %>
        <% if(result.hasOwnProperty("contact") && result.contact) { %>
            <tr>
                <td colspan="2">
                    <hr style="border-top: 1px solid #d7d7d7ad; margin: 15px 0;">
                    <p style="text-align: center; color: gray; font-weight: 500;"><%= result.contact %></p>
                </td>
            </tr>
        <% } %>
    </table>
</body>

</html>